@media(min-width:1400px) and (max-width:1800px){
    .owl-prev {
        left: -4%;
    }
    .owl-next {
        right: -7%;
    }
}
@media(min-width:1024px) and (max-width:1339px){

    .owl-next{
        right: -65px;
    }
    .owl-prev {
        left: -3%;
    }
    .price{
        width: 260px;
    }
    form input {
        width: 203px;
    }
    .map h3 {
        margin-top: 2px;
        font-size: 22px;
    }
    .i-three ul li i {
        line-height: 35px;
        width: 35px;
        height: 35px;
    }
    .i-three ul li {
        padding: 0 2px;
    }
}
@media(min-width:768px) and (max-width:1023px){
    .price{
        width: 214px;
    }
    .owl-next {
        right: -9%;
    }
    .owl-prev {
        left: -3%;
    }
    .map{
        background-repeat: no-repeat;
        padding: 55px 0;
    }
    .map h3 {
        margin-left: -57px;
    }
    .logo img {
        height: 30px;
    }
    .menu ul li {
        padding-left: 18px;
    }
    .icon {
        padding-left: 10px;
        margin-right: -3px;
        margin-top: -12px;
    }
    .icon-des {
        margin-right: -31px;
        padding: 5px;
    }
    .icon-des h5 {
        font-size: 13px;
    }
    .left-part h1 {
        font-size: 27px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 0 11px;
    }
    .right-part img {
        padding-top: 64px;
    }
    .tooth-img {
        margin-left: -30px;
        padding-top: 125px;
        width: 325px;
    }
    .teeth p {
        font-size: 14px;
    }
    .client img {
        height: 20px;
    }
    .sticker img{
        height: 40px;
    }
    .post-des h6 {
        color: #b4b4b4;
        font-size: 14px;
    }
    .icon-two {
        margin-left: -42px;
        font-size: 22px;
        margin-top: -2px;
    }
    .map .i-des p {
        font-size: 10px;
        margin-left: 9px;
    }
    form .btn {
        margin-top: 25px;
        margin-left: 55px;
    }
    .map h3 {
        display: none;
    }
    footer{
        height:92px;
    }
}
@media(min-width:0px) and (max-width:767px){
    .logo img {
        height: 30px;
        width: 160px;
    }
    .icon-des {
        display: none;
    }
    .icon {
        padding-bottom: 15px;
        margin-right: 20px;
        margin-top: -40px;
    }
    .navbar-light .navbar-toggler {
        color: white;
        border: 1px transparent;
    }
    
    .owl-next {
        right: -6%;
    }
    .navbar-toggler:focus{
        box-shadow: none;
        border: 1px solid #fff;
    }
    .service {
        padding-left: 32px;
    }
    .nav-one i{
        margin-left: 25px;
    }
    .navbar-light .navbar-nav .nav-item {
        margin-bottom: 2px;
    }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
       color: #fff;
    }
    .navbar-nav {
        align-items: center;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 4px 0;
    }
    .left-part {
        text-align: center;
    }
    .right-part {
        display: none;
    }
    .owl-next {
        right: -7%;
    }
    .owl-prev{
        left: 0;
    }
    .owl-next span  , .owl-prev span{
        font-size: 22px;
    }
    .tooth-img {
        display: none;
    }
    .heading{
        text-align: center;
    }
    .teeth {
        text-align: center;
        padding: 10px 50px;
    }
    .dr-icon {
        left: 37%;
    }
    .ser-one {
        text-align: center;
        padding: 25px 22px;
    }
    .client{
        padding: 50px 0;
    }
    .sticker{
        padding: 6px 0;
    }
    .map{
        background-repeat: inherit;
        text-align: center;
    }
    .price {
        margin: 8px auto;
    }
    .map h3 {
        margin-left: 100px;
    }
    .icon-two {
        margin-left: 140px;
    }
    footer p {
        font-size: 14px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .owl-prev {
        left: -99px;
    }
    .owl-next{
        right: -142px;
    }
}
@media(min-width:376px) and (max-width:425px){
    .left-part h1 {
        font-size: 32px;
    }
    .sticker {
        padding: 12px 0;
    }
    .icon-two {
        margin-left: 60px;
    }
    .map h3 {
        margin-left: 40px;
    }
}
@media(min-width:321px) and (max-width:375px){
    .map h3 {
        margin-left: 7px;
    }
    footer{
        height: 85px;
    }
    .icon-two {
        margin-left: 20px;
    }
    .price p{
        line-height: 40px;
    }
    .left-part h1 {
        font-size: 28px;
    }
    .owl-next {
        right: -9%;
    }
    .nav-one {
        margin-left: 0;
    }
    .icon {
        margin-right: 2px;
        padding-bottom: 4px;
        font-size: 25px;
    }
    .logo {
        margin-bottom: 7px;
        margin-top: 14px;
    }
    .logo img {
        height: 24px;
        width: 126px;
    }
    
}
@media(min-width:0px) and (max-width:320px){
    .logo img {
        height: 23px;
        width: 100px;
    }
    .icon {
        font-size: 23px;
        margin-top: -32px;
    }
    .left-part h1 {
        font-size: 23px;
    }
    .left-part h2 {
        font-size: 19px;
    }
    .owl-next {
        right: -11%;
    }
    .price{
        width: 295px;
    }
    .price p{
        line-height: 50px;
    }
    .icon-two {
        margin-left: 4px;
    }
    form input {
        width: 200px;
    }
    .map h3 {
        margin-right: 3px;
        font-size: 18px;
        margin-left: -5px;
    }
    .i-three ul li {
        padding: 0 2px;
    }
    footer{
        height: 85px;
    }
}
